<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.groceryshopflutter">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:name=".MainActivity"
            android:theme="@style/LaunchTheme"
            >

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
